<h2>Add Component to <%= @server.name %></h2>

<div class="softwares-table">

<div class="table-head">
	<div class="cell software-cell-name">
		Component Name
	</div>
	
	<div class="cell software-cell-status">
		Status
	</div>

	<div class="cell software-cell-version">
		Version
	</div>
</div>

<div class="clear">
</div>

<%for software in @softwares %>  
	<%if software.status.include?("Out of date")%>
		<div class="ood-software">
	<%else%>
		<div class="utd-software">
	<%end%>
	<div class="cell software-cell-name">
		<%=software.name%>
	</div>
	<div class="cell software-cell-status">
		<%=software.status%>
	</div>
	<div class="cell software-cell-version">
		<%=software.version%>
	</div>
	<div class="cell software-cell-link">
		<%=link_to 'Add', addassociation_server_path(@server, software) %>
	</div>
	<div class="cell software-cell-link">
		<%=link_to "Edit", edit_server_software_path(@server, software)%>
	</div>
	<div class="cell software-cell-link">
		<%=link_to 'Delete', server_software_path(@server, software), :confirm => 'Are you sure?', :method => :delete %>
	</div>
	<div class="clear">
	</div>

	</div>
<%end%>
</div>

<%= link_to 'List Servers', servers_path %> |
<%= link_to 'Back to Server', @server %>
