<p id="notice"><%= notice %></p>
 
<h1><%= @software.name %></h1>

<%if @software.status.include?("Out of date") %>
<h2 class="ood">
<% else %>
<h2>
<% end %>
<%= @software.status %></h2>
 
<h3>Version <%= @software.version %></h3> 

<div class="servers-table">
<div class="table-head">
	<div class="cell cell-name">
		Name
	</div>
	<div class="cell cell-os">
		OS
	</div>
	<div class="cell cell-phys">
		Phys
	</div>
</div>

<div class="clear">
</div>

<% servers = @software.servers %>
<% for server in servers %>
  <% if @software.status.include?("Out of date") %>
  <div class="ood">
  <% else %>
  <div class="utd">
  <%end%>
  <% # End the check for out-of-date flag %>

	  <div class="cell cell-name">
	    <%= server.name %>
	  </div>

	  <div class="cell cell-os">
	    <%= server.os %>
	  </div>

	  <div class="cell cell-phys">
	    <%= server.phys %>
	  </div>

	  <div class="cell-link">
	    <%= link_to 'Show', server %>
	  </div>

	  <div class="cell-link">
	    <%= link_to 'Edit', edit_server_path(server) %>
	  </div>

	  <div class="cell-link">
	    <%= link_to 'Destroy', server, :confirm => 'Are you sure?', :method => :delete %>
	  </div>

	  <div class="clear">
	  </div>
   </div>
<% end %>
</div>

<%= link_to "Edit Component", edit_software_path(@software), :class => "bottom-button" %>
<%= link_to "Back to All Components", softwares_path, :class => "bottom-button" %>
